*.iml
.gradle/
/local.properties
.kotlin
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
/localInfra/data/homeserver.db
/localInfra/data/media_store/
test*.db
desktop/test.db

app-data/
google-services.json
